body {
    font-family: helvetica;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    background-image: url("../img/autonarrsSolidBackground.png");
    background-size: cover;
}

.mainContent {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contentHeader {
    font-family: Helvetica;
    font-size: 18pt;
    background-color: #ffffff;
    color: #007fff;
    border: 1px solid #007fff;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 12px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.headerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentHeader img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.vehicleDetails {
    margin-right: -10px;
}

.vehicleCard {
    width: 450px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #007fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.vehicleCard:hover {
    background-color: #007fff;
    color: white;
    transition: .25s;
}

.vehicleCard:hover .infoBtn {
    background-color: white;
    color: #0080ffcc;
    transition: .25s;
}

.vehicleThumb { 
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.vehicleThumb img {
    width: 150px;
    height: auto;
    margin-left: 5px;
}

.infoBtn {
    background-color: #007fff;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.detailsH1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 15px;
    font-weight: 525;
}

.detailsH1 div {
    margin-left: 5px;
    margin-right: px;
}

.detailsP1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 10px;
}

.detailsP1 div {
    margin: 5px;
}

.cardDest {
    height: screen;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1410px;
}

.bioMain {
    color: #007fff;
    font-family: Helvetica;
    font-size: 18pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    border: 4px solid #007fff;
    border-radius: 20px;
}

.footerMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    border: 4px solid #007fff;
    border-radius: 20px;
}

.mySlides {
    display: none;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    width: 66%;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    margin-top: 15px;
}

.singleImgContainer {
    width: 66%;
    height: auto;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.imgLink {
    width: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.rowImg {
    display: flex;
}